<?xml version="1.0"?>
<config>
    <modules>
        <MW_SimpleNews> <!-- Name of module -->
            <version>0.1.0</version>    <!-- Version number of your module -->
        </MW_SimpleNews>
    </modules>
    <frontend>
        <routers>
            <simplenews>
                <use>standard</use>
                <args>
                    <module>MW_SimpleNews</module>
                    <frontName>simplenews</frontName>
                </args>
            </simplenews>
        </routers>
        <layout>
            <updates>
                <simplenews>
                    <file>mw_simplenews.xml</file>
                </simplenews>
            </updates>
        </layout>
    </frontend>
</config>