<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="freegift" instance="MW\FreeGift\Observer\CatalogProductLoadAfter" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="freegift" instance="MW\FreeGift\Observer\CatalogCategoryProductLoadBefore" />
    </event>




    <event name="sales_quote_collect_totals_after">
        <observer name="freegift" instance="MW\FreeGift\Observer\Frontend\Quote\ApplySalesrule" />
    </event>

    <!-- This position is processes for apply shopping cart rule -->
    <event name="freegift_quote_address_freegift_item">
        <observer name="freegift" instance="MW\FreeGift\Observer\Frontend\Quote\ProcessApply" />
    </event>

    <!-- This position is processes for add gift to cart catalog_product_get_final_price checkout_cart_save_before checkout_cart_product_add_after -->
    <event name="checkout_cart_product_add_after">
        <observer name="freegift" instance="MW\FreeGift\Observer\Frontend\Cart\ProcessApply" />
    </event>

    <event name="sales_quote_remove_item">
        <observer name="freegift" instance="MW\FreeGift\Observer\Frontend\Cart\AfterRemoveItem" />
    </event>
    <!--<event name="sales_quote_product_add_after">-->
        <!--<observer name="freegift" instance="MW\FreeGift\Observer\Frontend\Quote\AddParentKey" />-->
    <!--</event>-->


</config>
