<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MW\FreeGift\Helper\Coupon">
        <arguments>
            <argument name="couponParameters" xsi:type="array">
                <item name="separator" xsi:type="string">-</item>
                <item name="charset" xsi:type="array">
                    <item name="alphanum" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</item>
                    <item name="alpha" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ</item>
                    <item name="num" xsi:type="string">0123456789</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MW\FreeGift\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">mw_freegift_catalog_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="MW\FreeGift\Model\Rule\Condition\Product">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">mw_freegift_catalog_rule_form</item>
            </argument>
        </arguments>
    </type>

    <preference for="MW\FreeGift\Model\Spi\CouponResourceInterface"
                type="MW\FreeGift\Model\ResourceModel\Coupon" />
    <preference for="MW\FreeGift\Api\Data\CouponGenerationSpecInterface"
                type="MW\FreeGift\Model\Data\CouponGenerationSpec" />

    <virtualType name="MW\FreeGift\CategoryImageUpload" type="MW\FreeGift\Model\SalesRule\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mw_freegift/tmp/salesrule</argument>
            <argument name="basePath" xsi:type="string">mw_freegift/salesrule</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MW\FreeGift\Controller\Adminhtml\Promo\Quote\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MW\FreeGift\CategoryImageUpload</argument>
        </arguments>
    </type>
    <type name="MW\FreeGift\Model\SalesRule">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MW\FreeGift\CategoryImageUpload</argument>
        </arguments>
    </type>

</config>